<%layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2"><form method="post" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="listing[title]" class="form-label">title</lable>
            <input name="listing[title]" value="<%=listing.title%>" placeholder="title" type="text" class="form-control"
            required>
        </div>
        <div class="mb-3">
            <lable for="listing[description]" class="form-label">description</lable>
            <input name="listing[description]" value="<%=listing.description%>" placeholder="description" type="text" class="form-control"
            required>
        </div>
        <div><p>original image</p>
            <img src="<%=originalimgurl%>" alt="" width="300">
        </div>
        <div class="mb-3">
            <lable for="listing[image]" class="form-label">upload new image</lable>
            <input name="listing[image]" placeholder="image" type="file" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4" >
                <lable for="listing[price]" class="form-label">price</lable>
                <input name="listing[price]" value="<%=listing.price%>" placeholder="price" class="form-control"
                required>
            </div>
            <div class="mb-3 col-md-8">
                <lable for="listing[country]" class="form-label">country</lable>
                <input name="listing[country]" value="<%=listing.country%>" placeholder="country" type="text" class="form-control"
                required>
            </div>
        </div>
       
        <div class="mb-3">
            <lable for="listing[location]" class="form-label">location</lable class="form-control">
            <input name="listing[location]" value="<%=listing.location%>" placeholder="location" type="text" class="form-control"
            required>
        </div>  
        <button class="btn btn-dark add-btn mt-3">edit</button>
    </form>
    </div>
</div>

